@use "../abstract/variables";
@use "../abstract/fuctions";
@use "../abstract/mixins";

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: variables.$primary-bg-color;

    &__brand {
        font-size: 36px;
        color: fuctions.set-text-color(variables.$primary-bg-color);
    }
}

.nav-menu {
    display: none;
    align-items: center;
    list-style: none;

    &__item {
        padding: 10px 20px;
    }

    &__link {
        color: fuctions.set-text-color(variables.$primary-bg-color);
        padding: 10px 20px;

    }
}

@include mixins.media-sm {
    .nav-menu {
        display: flex;
    }
}